<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h2>Fanfic's info:</h2>
      <h3>Title: {{this.fanfic?.title}}</h3>
      <h3>Genre: {{this.fanfic?.genre}}</h3>
      <!--      <h3>Description: {{this.fanfic?.des}}</h3>-->
      <div *ngIf="this.chapters?.length">
        <h3>Chapters:</h3>

        <ul>
          <mat-divider></mat-divider>
          <li *ngFor="let chapter of this.chapters">
            <div class="row">
              <div class="col-4" style="margin: auto 0">
                {{chapter.title}}
              </div>
              <div class="col-8>">

                <a [routerLink]="['/chapter', chapter.id, 'edit']" class="link">
                  <button mat-button matSuffix mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                </a>
                <button mat-button matSuffix mat-icon-button (click)="delete(chapter)">
                  <mat-icon>
                    delete
                  </mat-icon>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li>
        </ul>
      </div>
      <a [routerLink]="['/fanfic', this.fanfic?.id, 'edit', 'new']" class="link">
        <button mat-flat-button color="primary">
          Add chapter
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
  </div>
</div>
