<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h2 *ngIf="user">{{user.username}}</h2>
      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fanfic</th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>

          <ng-container matColumnDef="genre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre</th>
            <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
          </ng-container>

          <ng-container matColumnDef="ReadEditDelete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="['/fanfic', row.id, 'read']" class="link">
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>
                    preview
                  </mat-icon>
                </button>
              </a>
              <a [routerLink]="['/fanfic', row.id, 'edit']" class="link">
                <button *ngIf="isEditor()" mat-button matSuffix mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
              </a>
              <button *ngIf="isEditor()" mat-button matSuffix mat-icon-button (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No fanfics <span *ngIf="input.value">containing "{{input.value}}"</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
  </div>
</div>
